body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
button {
  user-select: none;
}
.container {
  padding: 16px;
}
.border {
  border: 1px solid #ccc;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center
}
.col, .product {
  flex-grow: 1;
  margin: 2px;
  padding: 2px;
}
.product {
  flex: 0 15%;
  text-align: center;
  border: 1px solid #ccc;
}
.red {
  color: #fff;
  background-color: #f44336;
}
.light-grey {
  color: #000;
  background-color: #f1f1f1;
}
#view-cart,
#close-cart {
  display: inline-block;
  margin: 23px;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
}
#close-cart {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
}
#total-price-container {
  color: #fff;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #333;
  background-color: rgba(0,0,0,0.8);
}
.modal-body {
  background-color: #fff;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #ccc;
  width: 60%;
}
.add-to-cart,
.remove-from-cart {
  border: none;
  outline: none;
  cursor: pointer;
}
.add-to-cart {
  padding: 12px;
  font-size: 15px;
}
.remove-from-cart {
  font-size: 30px;
}
@media (max-width: 30em) {
  .mobile {
    flex-direction: column !important;
  }
}